.field {
  display: flex;
  flex-direction: column;

  &__label {
    color: #565A69;
    font-weight: bold;
  }

  input {
    padding: 10px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid lightgrey;
  }
}