.container {
  display: flex;
  flex-direction: column;
  min-width: 60%;
  height: 200px;
  border-radius: 3px;
  margin: 20px 0px 0px 10px;
  padding: 10px 10px 10px 25px;
  border: 1px solid #B3B3B3;
  box-shadow: 1px 1px 3px #B3B3B3;
}