.items {
  display: flex;
  flex-direction: column;
  border-radius: 3px;
  width: 444px;
  height: 460px;
  min-height: 470px;
  margin: 20px 10px 0px 20px;
  border: 1px solid #B3B3B3;
  box-shadow: 0px 0px 5px rgba(179, 179, 179, 0.5);
}

.items h3 {
  font-size: 30px;
  font-weight: normal;
  padding: 10px 10px 10px 28px;;
  color: #565A69;
}

.items-list {
  padding: 0;
}

.items-add {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 32px;
}


.items-add input[type="text"]{
  outline: none;
  width: 290px;
  border: 1px solid #B3B3B3;
  padding: 8px;
  margin-right: 5px;
  border-radius: 3px;
}

.items-add input::placeholder {
  color: #B3B3B3;
}

.items-add button {
  border: none;
  width: 122px;
  border-radius: 3px;
  color: #fff;
  font-weight: bold;
  background-color: #27CCC0;
  cursor: pointer;
}


.item-container {
  padding: 0px 10px 0px 32px;
  margin-top: 5px;
  min-height: 40px;
  position: relative;
}

.item-container:nth-child(1) {
  margin-top: 10px;
}

.line {
  position: absolute;
  background-color: #FF305A;
  width: 4px;
  height: 100%;
  left: -2px;
  border-radius: 1px;
}

