header h1{
  color: #fff;
  padding: 5px 20px 0 20px;
  text-transform: uppercase;
  margin: 0; 
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

header p{
  color: gray;
  padding: 0 20px;
}

header {
  width: 271px;
  height: 100%;
  background-color: rgb(43, 48, 62);
}
